<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse row" id="navbarSupportedContent">
        <div style="width: 75px">
            <div class="pl-4" style="display: flex; align-items: center; user-select: none; cursor: pointer" data-bind="if: activeComponent && !(activeComponent() === 'landing-page'), click: goToHome">
                <img src="../../../assets/images/home.png" width="30" />
                <span class="pl-2">Home</span>
            </div>
        </div>
        <form class="form-inline my-1 col-6 offset-2" data-bind="if: activeComponent && !(activeComponent() === 'login-page' || activeComponent() ===  'signup-page')">
            <input class="form-control mr-sm-2" type="search" id="searchterm" placeholder="Search" aria-label="Search" style="width: 80%" data-bind="textInput: queryTerm">
            <button class="btn btn-outline-success my-1 my-sm-0" type="submit" data-bind="click: search">Search</button>
        </form>
        <div class="ml-auto my-1 mr-5">
            <div class="row">
                <user-profile></user-profile>
                <div data-bind="if:!currentUser() && activeComponent() === 'signup-page'">
                    <p class="mt-2 mr-2" style="margin-bottom: 0px">
                        Already registered?
                    </p>
                </div>
                <div data-bind="if: !currentUser() && activeComponent() !== 'login-page'">
                    <button type="button" class="btn btn-primary" data-bind="click: login">Login</button>
                </div>
                <div data-bind="if: !currentUser() && activeComponent() === 'login-page'">
                    <p class="mt-2" style="margin-bottom: 0px">
                        Not registered yet?
                    </p>
                </div>
                <div data-bind="if:!currentUser() && activeComponent() !== 'signup-page'">
                    <button type="button" class="btn btn-secondary ml-2" data-bind="click: signUp">Sign up</button>
                </div>
                <div data-bind="if: currentUser()">
                    <button type="button" class="btn btn-light ml-2" data-bind="click: logout">Logout</button>
                </div>
            </div>
        </div>
    </div>
</nav>