<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="d-block d-sm-block d-md-none">
        <form class="form-inline my-2 my-lg-0" data-bind="if: activeComponent && !(activeComponent() === 'login-page' || activeComponent() ===  'signup-page')">
            <input class="form-control mr-2" style="width:80%" type="search" placeholder="Search" width="10" aria-label="Search" data-bind="textInput: queryTerm">
            <img src="../../../assets/images/search for form.png" width="25" data-bind="click: search" />
        </form>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav d-block d-sm-block d-md-none">
            <li class="nav-item active">
                <a data-bind="if: activeComponent && !(activeComponent() === 'landing-page'), click: goToHome">
                    <div class="nav-link d-flex align-items-center pt-3 pb-2 pr-2">
                        <img class="ml-auto" src="../../../assets/images/home.png" width="15" />
                        <span class="text-right pl-2" style="color: black">Home</span>
                        <span class="sr-only">(current)</span>
                    </div>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav d-none d-md-block d-lg-block d-xl-block">
            <li class="nav-item  mr-auto">
                <a class="nav-link d-flex align-items-center" data-bind="if: activeComponent && !(activeComponent() === 'landing-page'), click: goToHome" style="cursor: pointer">
                    <img src="../../../assets/images/home.png" width="30" /> <span class="ml-2" style="color: black; user-select: none;">Home</span>
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 d-none d-md-block d-lg-block d-xl-block mx-auto" data-bind="if: activeComponent && !(activeComponent() === 'login-page' || activeComponent() ===  'signup-page')">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" style="width:370px" aria-label="Search" data-bind="textInput: queryTerm">
            <button class="btn btn-outline-success my-2 my-sm-0 " type="submit" data-bind="click: search">
                Search
            </button>
        </form>
        <div class="my-1 pr-4 float-right">
            <div class="row">
                <user-profile></user-profile>
                <div data-bind="if:!currentUser() && activeComponent() === 'signup-page'">
                    <p class="mt-2 mr-2 registered" style="margin-bottom: 0px">
                        Already registered?
                    </p>
                </div>
                <div data-bind="if: !currentUser() && activeComponent() !== 'login-page'">
                    <button type="button" class="btn btn-primary button-small" data-bind="click: login">Login</button>
                </div>
                <div data-bind="if: !currentUser() && activeComponent() === 'login-page'">
                    <p class="my-2 registered" style="margin-bottom: 0px">
                        Not registered yet?
                    </p>
                </div>
                <div data-bind="if:!currentUser() && activeComponent() !== 'signup-page'">
                    <button type="button" class="btn btn-secondary ml-2 button-small" data-bind="click: signUp">Sign up</button>
                </div>
                <div data-bind="if: currentUser()">
                    <button type="button" class="btn btn-outline-secondary mt-1 btn-light ml-2 col-md button-small" data-bind="click: logout">Logout</button>
                </div>
            </div>
        </div>
    </div>
</nav>


