<div class="container px-4">
    <h3 class="border-bottom py-3 general-header" style="display: flex; align-items: center;">
        <img src="../../../assets/images/Filter icon.png" width="40" class="mr-2 general-logo"/>
        Posts filtered by tag: '<span data-bind="text: selectedTag"></span>'
    </h3>

    <div data-bind="foreach: questionsByTag">
        <div class="row border-bottom" style="margin-top: 15px;">
            <div class="col-sm-1 col-md-1 d-none d-sm-block questions-score">
                <div data-bind="text: question.submission.score"></div>
                <p style="font-size: 12px;">votes</p>
            </div>
            <div class="col col-sm-10 pl-3 ml-sm-2">
                <div class="row d-block d-sm-none" style="font-size:12px;">
                    <strong data-bind="text: question.submission.score"></strong>
                    <span>votes</span>
                </div>
                <a class="row questions" data-bind="text: question.title, click: $parent.selectQuestion.bind($data, questionId)" style="cursor: pointer">
                </a>
            </div>
            <div class="col-sm-6 col-md-3 offset-sm-1 offset-md-9 pl-3 pb-2 mb-sm-2 question-list-so-member">
                <div class="row text-secondary">
                    <span>
                        asked by:&nbsp;
                    </span>
                    <a data-bind="text: question.submission.soMember.displayName"> </a>
                </div>
            </div>
        </div>
    </div>

    <div data-bind="if:(prevPage() !== null|| nextPage() !== null)" class="my-4 d-flex justify-content-center">
        <button type="button" class="btn btn-outline-primary" data-bind="click:getPrev, enable:prevPage">Previous</button>
        <button type="button" class="btn btn-outline-primary ml-2" data-bind="click:getNext, enable:nextPage">Next</button>
    </div>
</div>



