<div class="container" data-bind="with: questionByIdWithAnswers">
    <div class="row" style="margin-top: 15px;">
        <div class="border-bottom border-dark" style="width: 100%">
            <div class="mb-2 mb-md-4">
                <h2 class="question-title" data-bind="text: title"></h2>

                <div data-bind="with: answers.$values[0]">
                    <div data-bind="if: question">
                        <div class="row pl-3 pb-3" data-bind="foreach: question.questionsTags.$values">
                            <a class="border rounded-lg bg-light tags" data-bind="attr: { href: `tag/${tag.id}` }, text: !!tag.tagString ? tag.tagString : 'regex'"></a>
                        </div>
                    </div>
                </div>

                <div class="d-block d-md-none" style="font-size: 14px;">
                    <strong data-bind="text: submission.score"></strong>
                    <span>votes</span>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-1 text-center d-none d-md-block">
                <div>
                    <h3 data-bind="text: submission.score"></h3>
                </div>
                <span>votes</span>
            </div>

            <div class="col-10 answer-body border-bottom border-dark">
                <p data-bind="html: submission.body"></p>
            </div>
        </div>
    </div>
</div>
