<div class="body-container" data-bind="foreach: questions">
    <div class="question-block">
        <div class="score-block">
            <div class="score-value" data-bind="text: submission.score"></div>
            <p style="font-size: 12px">votes</p>
        </div>
        <div style="width: 600px;">
            <a class="title-value" data-bind="attr: { href: submissionId }, text: title">
            </a>
            <div data-bind="foreach: questionsTags.$values"
                 style="display: flex; flex-direction: row;">
                <a class="tags" data-bind="attr: { href: tag.id }, text: !!tag.tagString ? tag.tagString : 'regex'"></a>
            </div>
        </div>

        <div class="question-list-so-member"
             style="display: flex; flex-direction: row; ">
            <p style="color: #9199a1;">
                asked by:&nbsp
            </p>
            <a class="questions-list-so-member" data-bind="attr: { href: submission.soMember.id }, text: submission.soMember.displayName"> </a>
        </div>
    </div>
</div>
