<h1>Bookmarked Posts</h1>
<div class="container px-md-4">
    <div class="row border-bottom" style="margin-top: 15px;">
        <div class="pl-4" data-bind="foreach: userBookmarks">            
            <div class="row border-bottom pl-2 pb-2" style="margin-top: 15px;">
                <div class="col col-sm-10">
                    <a class="row questions" data-bind="text: title, click: $parent.selectQuestion.bind($data, submission)" style="cursor: pointer">
                    </a>
                </div>
            </div>            
        </div>
    </div>
    <div data-bind="if:(prevPage() !== null|| nextPage() !== null)" class="my-4 d-flex justify-content-center">
        <button type="button" class="btn btn-outline-primary" data-bind="click:getPrev, enable:prevPage">Previous</button>
        <button type="button" class="btn btn-outline-primary ml-2" data-bind="click:getNext, enable:nextPage">Next</button>
    </div>
</div>