.header-image {
    height: 55px;
    cursor: pointer;
    margin: 20px 0px 40px 80px;
}

a:hover {
    text-decoration: none;
}

.questions {
    cursor: pointer; 
    color: #007BFF !important;
}

    .questions:hover {
        color: #0064bd !important;
    }

.question-list-so-member {
    font-size: 14px;
    text-align: center;
    margin-right: 5px
}

.question-details-so-member {
    font-size: 13px;
}

.questions-score {
    text-align: center;
}

.tags {
    font-size: 12px;
    margin: 10px 10px 0px 0px;
    padding: .4em;
    color: #007BFF !important;
}

.question-body {
    overflow: hidden;
}

.answer-count {
    font-size: 1.5rem;
    font-weight: 500;
}

.comment-body {
    font-size: 14px;
}

.comment-user {
    white-space: nowrap;
    background-color: #E1ECF4;
    color: #07C
}

.comment-count {
    margin-left: -14px;
    font-size: 13px;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        max-width: none;
        padding-right: 20px;
    }

    .header-image {
        display: block;
        margin: 5px auto 10px auto;
        height: 35px;
    }

    .header-border {
        border-bottom: solid;
        border-width: 1px;
    }

    .question-list-so-member {
        font-size: 12px;
    }

    .question-title {
        font-size: 20px;
    }

    .question-body {
        line-height: normal;
        overflow: hidden;
        box-sizing: content-box !important;
    }

    .answer-count {
        font-size: 1.0rem
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-image {
        margin: 5px auto 10px 20px;
    }
}
