.header-image {
    height: 55px;
    cursor: pointer;
    margin: 20px 0px 40px 80px;
}

a:hover {
    text-decoration: none;
}

.question-list-so-member {
    font-size: 14px;
    text-align: center;
    margin-right: 5px
}

.questions-score {
    text-align: center;
}

.tags {
    font-size: 12px;
    margin: 10px 10px 0px 0px;
    padding: .4em;
}

    .tags:hover {
        color: #316795;
        background-color: #CEE0EE;
    }

@media (max-width: 768px) {
    .container {
        width: 100%;
        max-width: none;
    }

    .header-image {
        display: block;
        margin: 5px auto 10px auto;
        height: 35px;
    }

    .header-border {
        border-bottom: solid;
        border-width: 1px;
    }

    .question-list-so-member {
        font-size: 12px;
    }

    .question-title {
        font-size: 20px;
    }

    .answer-body {
        line-height: normal;
    }
}

.answer-body *:before, .answer-body *:after {
    box-sizing: content-box !important;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-image {
        margin: 5px auto 10px 20px;
    }
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 40px;
}

#formlogin {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 2px;
    text-align: center;
}

input[type=submit], input[type=reset], input[type=password] {
    background-color: #56a0ed;
    border: none;
    color: white;
    padding: 10px 75px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color: #49b6ee;
}

input[type=text], input[type=password] {
    background-color: #f5fafc;
    border: none;
    color: #000000;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 6px;
    width: 85%;
    border: 3px solid #f6f6f5;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ffff;
    border-bottom: 2px solid #5fbae9;
}


